* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    background-color: #1c1c1b;
    color: #fffffe;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-section {
    max-width: 50%;
}

.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 50px;
}

.introduction {
    font-size: 30px;
    color: #fffffe;
    margin-bottom: 30px;
}

.button {
    margin-top: 30px;
    padding: 20px 30px;
    display: inline-block;
    background-color: #3da9fc;
    color: #fffffe;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #287bc1;
}

.right-section {
    max-width: 50%;
    position: relative;
    text-align: right;
}

.cover-image {
    max-width: 100%;
    height: auto;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%);
}


/* banefits section */
.benefits_section{
    width: 100%;
    height: 100vh;
    background-color: #192d39;
    overflow: hidden;
}
.top{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
}
.content{
    width: 100%;
    height: 90%;
    display: flex;
    margin: 20px;
}
.vector{
    width: 40%;
    height: 82%;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
}
.vector img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.benefits{
    width: 50%;
}

.benefits {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px; 
}

.benefits-list {
    list-style-type: none; 
    padding-left: 0; 
    font-size: 1.2rem; 
    color: #fff; 
    line-height: 1.6; 
}

.benefits-list li {
    margin: 10px 0;
    padding-left: 35px; 
    position: relative; 
}

.benefits-list li::before {
    content: "✔"; 
    color: #0088cc; 
    font-size: 1.5rem; 
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
}

/* Events section */
.Events_section{
    width: 100%;
    height: 100vh;
    background-color: #1c1c1b;
} 
.card {
    width: 290px;
    height: 210px;
    transition: all .5s;
    box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
               -15px -15px 30px rgba(60, 60, 60, 0.082);
    text-align: center;
    overflow: hidden;
    background-color: #292929;
    cursor: pointer;
    border-radius: 13px;
  }
  
  .card:hover {
    height: 295px;
    background-color: #292929;
    
  }
  
  .card .header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #212121;
    margin-bottom: 16px;
    height: fit-content;
    height: 215px;
  }
  
  .card .header .img-box {
    width: 50px;
  }
  
  .card .header .title {
    font-size: 1em;
    letter-spacing: .1em;
    font-weight: 900;
    text-transform: uppercase;
    padding: 4px 0 14px 0;
    transition: all .5s;
    color: #edededc5;
  }
  
  .card:hover .header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  }
  
  .card:hover .card .header .title {
    padding: 0;
  }
  
  .card #content {
    display: block;
    text-align: left;
    color: #fff;
    margin: 0 18px;
  }
  
  .card #content p {
    transition: all .5s;
    font-size: .8em;
    margin-bottom: 8px;
  }
  
  .card #content a {
    color: #1d8122;
    cursor: pointer;
    transition: all .5s;
    font-size: .7rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .card #content .btn-link:hover {
    border-bottom: 1px solid #1d8122;
  }
  .cards{
    width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  align-items: center;
  }






  /* login page */
  .joining_form{
    background-color: #1c1c1b;
  }

.container {
    display: flex;
    height: 100vh;
}

.left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.right {
    flex: 1;
    background-color: black;
    transition: 1s;
    background-image: url("/Miles-of-Smiles/Assets/file.large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header > h2 {
    margin: 0;
    color: #4f46a5;
}

.header > h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, .4);
}



.form > p {
    text-align: right;
}

.form > p > a {
    color: #000;
    font-size: 14px;
}

.form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
}

.form-field:focus {
    border-color: #0f7ef1;
}

.form > button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
}

.animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 2s;
}

.a1 {
    animation-delay: 2s;
}

.a2 {
    animation-delay: 2.1s;
}

.a3 {
    animation-delay: 2.2s;
}

.a4 {
    animation-delay: 2.3s;
}

.a5 {
    animation-delay: 2.4s;
}

.a6 {
    animation-delay: 2.5s;
}

@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        padding: 20px 40px;
        width: 440px;
    }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 408px;
  background-color: #192d39;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  height: fit-content;
}

.message {
  color: #355891;
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #355891;
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #355891;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 2px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #355891;
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: #666;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: white;
  border: 2px solid #355891;
  border-radius: 0px;
  box-sizing: border-box;
  color: #355891;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #355891;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #355891;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: #355891;
  background: #5f82a9;
}

.fancy:hover::before {
  width: 1.5rem;
  background: #355891;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}